<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ventana Login</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- <script src="https://kit.fontawesome.com/8347f32279.js" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/8347f32279.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="top-bar-header">
            <section class="top-bar-header-logo">
                <img src="img/logo-mercado-liebre.svg" alt="" id="logo">
            <input type="search" placeholder="Buscar productos, marcas" autocomplete="off">
            <button id="botonSearch" type="submit"><i class="fas fa-search"></i></button>
            </section>            
            <section class="top-bar-header-compra">
                <i class="fa-solid fa-hand-holding-dollar" id="logoHand"></i>
                <h4 id="compraText">Comprá en cuotas y sin tarjetas de crédito</h4>
            </section>
        </div>
        <nav class="bottom-bar-header">
            <ul class="lista" type="none">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="lista" type="none">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div id="menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
        <form action="/" action="get" class="formLogin">
            <input type="text" name="usuario" placeholder="Nombre de Usuario" class="usuarioLogin">
            <input type="password" name="contraseña" placeholder="Contraseña" class="contraseñaLogin">
            <button type="submit" href="/" class="boton-enviar-login">Enviar</button>
        </form>

    </main>
    <footer>
        <section>
            <article class="recomendaciones">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!
                </p>
            </article>
            <article class="recomendaciones">
                <i class="fa-sharp fa-solid fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.
                </p>
            </article>
            <article class="recomendaciones">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.
                </p>
            </article>
        </section>
        <div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
    



</body>
</html>