/* 
● Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

● Tipografías
Familia: 'Roboto'

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

● Íconos


*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: rgb(224, 224, 224);
    margin: 0;

}

header {
    background-color: #EAC926;
    color: black;
    padding: 15px;
}

header input {
    display: inline-block;
    width: 60%;
    padding: 4px;
    margin-left: 10%;   
}

#logo {
    /* display: inline-block; */
    width: 40%;
}

#botonSearch {
    display: inline-block;
    
}
.top-bar-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.compra {
    text-align: center;
}

#logoHand {
    display: inline
}

#compraText {
    display: inline-block;
    padding: 10px;
}

.lista {
    text-align: left;
    display: none;
}

.lista li a {
    text-decoration: none;
    color: black;
}

img {
    width: 50%
}

input {
    display: block;
}

#menu {
    max-width: 40px;
    color: white;
    background-color: #1259c3;
    text-align: center;
    margin: auto;
    padding: 5px 5px;
    border-radius: 5px;
    display: block;
    font-size: 18px;
}

main {
    width: 90%;
    margin: auto;
    background-color: rgb(224, 224, 224);

}

main section article {
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img {
    width: 100%;
}

main section article div {
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
}

main section article div h4 {
    margin: 0;
}

main section article i {
    color: green;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    margin-top: -30px;
}

.barra {
    width: 100%;

}

.titulares {
    font-size: 24px;
    color: #666;
    width: 100%;
}

.precios {
    display: inline-block;
    font-size: 18px;
}

.descuentos {
    display: inline-block;
    font-size: 16px;
    color: green;
    margin-left: 5px;
}

.descripciones {
    padding-top: 15px;
    font-size: 16px;
    color: #666
}

footer {
    text-align: center;
    display: block;
    padding: 10px;
}

footer section article {
    display: block;
    padding-top: 10px;
}

footer section article i {
    color: #1259c3;
    font-size: 2em;
    margin: 0%;
}

footer section article h4 {
    color: #666;

}

footer section article p {
    color: #666;
}

@media (min-width: 361px) {

    /*Navegacion tablets*/
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .lista {
        text-align: left;
        display: inline;
    }

    #menu {
        display: none;
    }
    main{
        margin: auto;
    }
    main section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        
    }
    main section article{
        width: 45%;
        margin: auto;
        align-self: stretch;   
    }
    main section article i {
       /* position: absolute; */
        left: 300px;
        margin-top: 0px;
    }
    main section article div  {
        /* text-align: left; */
        padding-left: 0;
        margin-left: 0;
        
    }
    .titulares{
        display: inline-block;
    }
    .precios{
        font-size: 10px;


    }
    .descuentos{
        font-size: 10px;

    }
    .descripciones{
        font-size: 10px;
    }
}

@media (min-width: 769px) {
    /*Navegacion en desktop*/

}